.idea/
.DS_Store
Model/.idea/
Model/__pycache__/
Result/
1DConvLSTM_Model/.idea/
1DConvLSTM_Model/__pycache__/
2DConvLSTM1_Model/.idea/
2DConvLSTM1_Model/__pycache__/
2DConvLSTM1MSE_Model/.idea/
2DConvLSTM1MSE_Model/__pycache__/
2DConvLSTM256_Model/.idea/
2DConvLSTM256_Model/__pycache__/
2DConvLSTM12MSE_Model/.idea/
2DConvLSTM12MSE_Model/__pycache__/
GAN_Model(test)/.idea/
GAN_Model(test)/__pycache__/
GAN_Model/.idea/
GAN_Model/__pycache__/


#Model tensorboard, save ignore
Model/tensorboard/
Model/save/

1DConvLSTM_Model/tensorboard/
1DConvLSTM_Model/save/
1DConvLSTM_Model/Result/
2DConvLSTM1_Model/tensorboard/
2DConvLSTM1_Model/save/
2DConvLSTM1_Model/Result/
2DConvLSTM1MSE_Model/tensorboard/
2DConvLSTM1MSE_Model/save/
2DConvLSTM1MSE_Model/Result/
2DConvLSTM256_Model/tensorboard/
2DConvLSTM256_Model/save/
2DConvLSTM256_Model/Result/
2DConvLSTM12MSE_Model/tensorboard/
2DConvLSTM12MSE_Model/save/
2DConvLSTM12MSE_Model/Result/
Week_Data_Model/tensorboard/
Week_Data_Model/save/
Week_Data_Model/Result/

GAN_Model/tensorboard/
GAN_Model/save/
GAN_Model/Result/